<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Labu: prestadores de serviços mais próximo de você</title>
</head>
<body>
    <h1>LABU</h1>
    <form action="/cadastrando" method="post">
        <h1>Cadastro</h1>
        {% set menssagens = get_flashed_messages() %}
        {% if menssagens %}
            <div id="alerta" style="font-size: 15px;">
                {{menssagens[0]}}
            </div>
        {% endif %}
        <label for="username">Nome</label>
        <input type="text" class="input-form" name="username" id="username">
        <label for="email">Email</label>
        <input type="email" class="input-form" name="email" id="email">
        <label for="senha">Senha</label>
        <input type="password" class="input-form" name="senha" id="senha">
        <label for="confirmarSenha">Confirmar Senha</label>
        <input type="password" class="input-form" name="confirmarSenha" id="confirmarSenha">

        <div class="button-container">
            <button type="submit">Cadastrar</button>
            <button><a href="/" style="text-decoration:none;">Login</a></button>
        </div>    
    </form>    

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
</body>
</html>